body,
html {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

#wrapper {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 101%;
  height: 100vh;
}

#graffitiContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 540px;
}

#one {
  left: 35px;
}

#three {
  transform: rotate(90deg);
  left: 65px;
  bottom: -32px;
}

#canWrapper {
  position: absolute;
  width: 200px;
  height: 180px;
  bottom: -15px;
  left: 12%;
}

#light {
  float: right;
  height: 150px;
  aspect-ratio: 2/1;
}

#light:hover {
}

.graffiti {
  position: absolute;
  width: 70%;
  height: 100%;
}

#light1 {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
}

#light0 {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
}

.can {
  position: absolute;
  width: 80px;
  aspect-ratio: 1/2.1;
}

.can:hover {
  cursor: pointer;
}
